{include="header"}
<script>
function permutardisplay(cual) {
  // en una variable, guardo la etiqueta
  var micontenedor = document.getElementById(cual);
  // uso una condición; le pregunto ¿esa etiqueta es visible?
  if (micontenedor.style.display == "block") {
    // si la respuesta es SI (true) le cambio la propiedad y la oculto
    micontenedor.style.display = "none";
  } else {
    // en caso contrario, como la respuesta es NO (false) le cambio la propiedad y la hago visible
    micontenedor.style.display = "block";
  }
}
</script>

<div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;">
   <div class="row">
      <div class="col-sm-3 col-xs-3">
         
           <a href=" index.php?page=listado_maquinas_cliente&cod={$fsc->maquina_cliente->codcliente}" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span class="hidden-xs">&nbsp; Volver</span>
         </a>
               <button class="btn btn-sm btn-primary" type="submit">
                  <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
               </button>
         
      </div>
   </div>
      <div class="col-sm-7 col-xs-7 text-center">
         <h3 style="margin-top: 0px;"> Editar Maquina {$fsc->maquina_cliente->modelo} de {$fsc->maquina_cliente->nombre_cliente} </h3>
      </div>
      
</div>
    <form class="form-horizontal" role="form" name="" action="{$fsc->url()}" method="post">
    <div class="form-group">
        <div class="container">
               <div class="form-group">
                    <input type="hidden" name="codcliente" value="{$fsc->maquina_cliente->codcliente}"/>
                    <input type="hidden" name="codcliente" value="{$fsc->maquina_cliente->nombre_cliente}"/>
                    
                   
                    <input type="hidden" name="id" value="{$fsc->maquina_cliente->id_maquina}"/>
                    <label class="col-sm-2 control-label"></label>
                 
               </div>
                 <div class="col-sm-10">
                  <div class="form-group">
                      Selecciona un tipo de maquina
                      <select name="equipo" class="form-control" onchange="this.form.submit();">
                           {loop="fsc->listar_dispositivos()"}
                  <option value="{$value['nombre_dispositivo']}"{if="$fsc->maquina_cliente->equipo==$value['nombre_dispositivo']"} selected{/if}>{$value['nombre_dispositivo']}</option>
                  {/loop}
                                                     
                      </select>                 
                  </div>
                  </div> 
                <div class="col-sm-10">
                  <div class="form-group">
                      Selecciona una Marca de maquina
                       <select name="marca" class="form-control" onchange="this.form.submit();">
                           {loop="fsc->listar_marca()"}
                  <option value="{$value['nombre_marca']}"{if="$fsc->maquina_cliente->marca==$value['nombre_marca']"} selected{/if}>{$value['nombre_marca']}</option>
                  {/loop}
                      </select>                 
                  </div>
                  </div>
                <div class="form-group">
                   <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-10">
                      <input type="text" name="modelo" class="form-control" value="{$fsc->maquina_cliente->modelo}"  required="" placeholder="modelo"/>
                  </div>
               </div>
                <div class="col-sm-5">
                <div class="checkbox">
                          <label>
                              <input type="checkbox"  name="contrato" value="FALSE{if="$fsc->maquina_cliente->contrato"} TRUE{/if}" {if="$fsc->maquina_cliente->contrato"} checked{/if}/>
                              Contrato
                          </label>
                         
                </div>
                </div>
                 <div class="col-sm-5">
                <div class="checkbox">
                          <label>
                              <input type="checkbox" value="FALSE{if="$fsc->maquina_cliente->alquilada"}TRUE{/if}" name="alquilada" {if="$fsc->maquina_cliente->alquilada"}checked{/if}/>
                              Alquilada
                          </label>
                         
                </div>
                </div>
                <div class="form-group">
                   <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-10">
                      <input type="text" name="numero_serie" class="form-control" value="{$fsc->maquina_cliente->numero_serie}" autocomplete="off" required="" placeholder="Numero de serie"/>
                  </div>
               </div>
                <div class="form-group">
                  
                  <div class="col-sm-5">
                      <input type="text" name="costo_copia_negro" class="form-control" value="{$fsc->maquina_cliente->costo_copia_negro}"  placeholder="Costo copia negro"/>
                  </div>
                   
                  <div class="col-sm-5">
                      <input type="text" name="costo_copia_color" class="form-control"value="{$fsc->maquina_cliente->costo_copia_color}"  placeholder="Costo copia color"/>
                  </div>
               </div>
            <div class="form-group">
                  
                  <div class="col-sm-10">
                      <input type="text" name="ubicacion" class="form-control" value="{$fsc->maquina_cliente->ubicacion}"  placeholder="ubicacion"/>
                  </div>
               </div>
                <div class="form-group">
                  
                  <div class="col-sm-10">
                      <input type="text" name="como_leer_contador" class="form-control" value="{$fsc->maquina_cliente->como_leer_contador}"  placeholder="Situacion del contador"/>
                  </div>
               </div>
                <div class="form-group">
                  
                  <div class="col-sm-10">
                      <input type="text" name="notas" class="form-control" value="{$fsc->maquina_cliente->notas}"  placeholder="Notas"/>
                  </div>
               </div>
            </div>
        
            <div class="modal-footer">
                <a href=" index.php?page=listado_maquinas_cliente&cod={$fsc->maquina_cliente->codcliente}" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span class="hidden-xs">&nbsp; Volver</span>
         </a>
               <button class="btn btn-sm btn-primary" type="submit">
                  <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
               </button>
            </div>
     </div>     
</form>
<div class="container" style="margin-top: 10px; margin-bottom: 10px;">
   <div class="row">
 <a href="javascript:permutardisplay('cual');"> click para abrir/cerrar cambiar de dueño </a>
<div id="cual" style="display:none;">
    
    <label class="col-sm-12 control-label"><h4>Opere con cuidado si pulsa el botón de guardar de color naranja asociará esta maquina al cliente del cuadro.</h4></label>
<form class="form-horizontal" role="form" name="" action="{$fsc->url()}" method="post">
                    <div class="col-md-4">
                  <div class="form-group">
                     <select name="cliente_id" class="form-control">
                          <option value="">Ninguno</option>
                          <option value="">--------</option>
                          {loop="$fsc->lista_clientes()"}
                          <option value="{$value->codcliente}"{if="$fsc->maquina_cliente->nombre_cliente==$value->nombre"} selected {/if}>{$value->nombre}</option>
                          {/loop}
                      </select>                 
                  </div>
                  </div>
    <input type="hidden" name="id" value="{$fsc->maquina_cliente->id_maquina}"/>
                  <div class="modal-footer">
                <a href=" index.php?page=listado_maquinas_cliente&cod={$fsc->maquina_cliente->codcliente}" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span class="hidden-xs">&nbsp; Volver</span>
         </a>
               <button class="btn btn-sm btn-warning" type="submit">
                  <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
               </button>
            </div>
   
</form>
</div>
   </div>
</div>
   {include="footer"}